.cours-page {
  max-width: 700px;
  margin: 2rem auto 3rem;  /* marge verticale et un peu d’espace en bas */
  padding: 2rem 3rem;      /* padding conséquent et uniforme */
  font-family: var(--font-body);
  color: var(--text);
  box-sizing: border-box;  /* gestion paddings dans la largeur */
  text-align: center;
}